pkgbase = forge-bin
	pkgdesc = Fast, model-agnostic AI coding harness and CLI in Rust (prebuilt binary)
	pkgver = 2.10.1
	pkgrel = 1
	url = https://github.com/florisvoskamp/forge
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	provides = forge
	conflicts = forge
	options = !strip
	options = !debug
	source_x86_64 = forge-2.10.1-x86_64.tar.gz::https://github.com/florisvoskamp/forge/releases/download/v2.10.1/forge-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 4753c88e5f7aae729d2bc96e3ab11c632120670f5b705642576da94aefd8a3cb
	source_aarch64 = forge-2.10.1-aarch64.tar.gz::https://github.com/florisvoskamp/forge/releases/download/v2.10.1/forge-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 9ae0dde209f0be54c83442d97879f53ca89981b0979befa964d9a692bc7f1b96

pkgname = forge-bin
